#define WIN32
#include "..\h\dtwain_verinfo.h"
#include "..\h\twain.h"
#include "..\h\cfmtwain.h"
#include "winuser.h"
#include "winver.h"
#include "..\h\dtwain_resource_constants.h"

// Fake Twain dialog
IDC_DLGSELECTSOURCE DIALOG DISCARDABLE  0, 0, 214, 95
STYLE  DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Source"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         IDC_LSTSOURCES,7,18,143,62,LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "&Select",IDOK,161,48,45,14
    PUSHBUTTON      "&Cancel",IDCANCEL,161,66,45,14
    LTEXT           "Sources:",IDC_SOURCETEXT,9,8,29,8
END

IDC_DLGMISC DIALOG DISCARDABLE  0, 0, 240, 101
STYLE WS_POPUP
FONT 9, "Verdana"
BEGIN
    LTEXT           "Static",IDC_EDIT1,1,1,240,100,SS_SUNKEN | WS_BORDER,
                    WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE |
                    WS_EX_STATICEDGE

END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#include "resource_verinfo.rc2"
END
